<footer class="main-footer">
    <div class="hr"></div>
    <nav>
        <a href="#">&copy; 2016 RR &amp; KW</a>
        <a href="//www.facebook.com/events/1576579109319551/">Facebook</a>
        <a href="mailto:fromwardtorich@gmail.com">fromwardtorich@gmail.com</a>
    </nav>
</footer>
