<header class="main-header">
	<div class="grid">
		<a href="/" class="logo">
			<span>From Ward To Rich</span>
		</a>
		<nav>
			<a href="/rsvp">RSVP</a>
			<a href="/location">The Location</a>
			<a href="/pictures">Pictures</a>
			<!-- <a href="/memories">Memories</a> -->
			<a href="/information">Information</a>
		</nav>
	</div>
</header>