<section class="main-section">
	<header>
		<h1>Hotel Options</h1>
		<p>Places to Stay</p>
	</header>
	<article class="content text-heavy">
		<p>Book a room at the venue! Just call The Inn on the Lake @ <a href="tel:5853947800">(585) 394-7800</a> and make sure to book under the Rich/Ward wedding for either Saturday &amp; Sunday night or both!</p>
		<p>There are various other hotels in the area if staying at our venue doesn’t work out. Our venue is located in Canandaigua, NY. Surrounding cities/towns from nearest to furthest include: Farmington, Victor, Pittsford, Henrietta and Rochester.</p>
	</article>
</section>