<section class="main-section">
    <header>
        <h1>Registry</h1>
        <p><strong>None!</strong></p>
    </header>
    <article class="content text-heavy">
        <p>We apologize if this is inconvenient for anyone. We would appreciate, if you choose to give a gift, either gift cards, check or cash. As most of you know, we are now living on the West Coast and have recently invested in a small home in Portland, OR. Unfortunately we do not have much space and it has been difficult enough to ship our current belongings from coast to coast. Thank you for understanding!</p>
    </article>
</section>
<section class="main-section">
    <header>
        <h1>Our Photographer</h1>
        <p>Paul D. Van Hoy II</p>
    </header>
    <article class="content text-heavy">
        <p>Paul will be taking pictures throughout the day. If you see him feel free to introduce yourself. To read more checkout Fotoimpression's <a href="//www.fotoimpressions.com/">website</a>.</p>
    </article>
</section>

<section class="main-section">
    <header>
        <h1>Music</h1>
        <p>Help us pick out music for the wedding!</p>
    </header>
    <article class="content text-heavy">
        <p><a class="song-btn" href="http://www1.gigbuilder.com/cal/ny/boolanger.nsf/guestMusic.html?open&ParentUNID=E5DF81633F7C8CBA86257EB400166D4F&pin=74.69.16.99#">Click Here To Request a Song!</a></p>
    </article>
</section>
