<section class="main-section">
	<header>
		<h1>Location</h1>
		<p>The Inn on the Lake - 770 S Main St, Canandaigua, NY 14424</p>
	</header>
	<article class="content text-heavy">
		<h3>The Venue</h3>
		<p>The Inn on the Lake - Our venue is a resort and conference center used all year-round for both business and leisure. We chose this location for our venue because it is on the shore of the gorgeous Canandaigua Lake as well as within a short distance from various activities both in the town of Canandaigua as well as the renowned “Fingerlakes Region.” If you choose to utilize our wedding as a reason to spend a long weekend here, you won't run out of activities!</p>
		<p>See below for details:</p>
		<ul>
			<li><strong>Ceremony:</strong> On the Lakefront @ 4pm</li>
			<li><strong>Reception</strong>
				<ul>
					<li>Cocktail Hour: 1 hour</li>
					<li>Dinner: 7pm</li>
					<li>Open Bar: 2 hours</li>
				</ul>
			</li>
			<li>The Inn Rooms: ~$187/night</li>
		</ul>
		<h3>Airport to Locations Distance</h3>
		<ul>
			<li>Venue: 35.1 miles, 43 minutes</li>
			<li>Rochester: 6.7 miles, 10 minutes</li>
			<li>Henrietta: 10.3 miles, 14 minutes</li>
			<li>Canandaigua: 34 miles, 40 minutes</li>
			<li>Victor: 23.4 miles, 28 minutes</li>
			<li>Geneva: 51.6 miles, 55 minutes</li>
		</ul>
		<h3>Activities</h3>
		<ul>
			<li>Sonnenberg Gardens (Canandaigua)</li>
			<li>Cruises (Canandaigua Lake)</li>
			<li>New York Wine and Culinary Center (Canandaigua)</li>
			<li>Letchworth State Park (Castile, ~42.3 miles/52 min away from Venue)</li>
			<li>Lake Ontario/Genesee River (Rochester)</li>
			<li>Seabreeze Amusement Park (Rochester)</li>
			<li>Seneca Park Zoo (Rochester)</li>
			<li>Bounce-It-Out Indoor Playground (Rochester)</li>
			<li>Eastview Mall or Henrietta Mall (Rochester)</li>
			<li>Various Golf Courses
				<ul>
					<li>CenterPointe Golf Club (Canandaigua)</li>
					<li>Victor Hills East Golf Club (Victor)</li>
					<li>Ravenwood Golf Club (Victor)</li>
					<li>Monroe Golf Club (Pittsford)</li>
					<li>Eagle Vale Golf Course (Fairport)</li>
				</ul>
			</li>
			</li>Rochester Restaurants/Bars
				<ul>
					<li>Next Door Bar and Grill</li>
					<li>New York Wine and Culinary Center (Canandaigua)</li>
					<li>Dogtown</li>
					<li>Owl House</li>
					<li>Piranha</li>
					<li>Dragonfly</li>
					<li>Murphy’s Law</li>
					<li>Dr’s Inn</li>
					<li>A Pub</li>
					<li>Bug Jar</li>
					<li>Trata</li>
				</ul>
			</li>
	</article>
</section>