<section class="main-section">
    <header>
        <h1>Music</h1>
        <p>Help us pick out music for the wedding!</p>
    </header>
    <article class="content text-heavy">
        <p><a class="song-btn" href="http://www1.gigbuilder.com/cal/ny/boolanger.nsf/guestMusic.html?open&ParentUNID=E5DF81633F7C8CBA86257EB400166D4F&pin=74.69.16.99#">Click Here To Request a Song!</a></p>
    </article>
</section>
