<section class="main-section">
	<header>
		<h1>Pictures</h1>
		<p>We have a few pictures up right now of the location, but we'll be adding wedding photos after the reception!</p>
	</header>
	<article class="content">
		<img src="/assets/img/location/location_8.jpg" alt="Location Image">
		<img src="/assets/img/location/location_1.jpg" alt="Location Image">
		<img src="/assets/img/location/location_9.jpg" alt="Location Image">
		<img src="/assets/img/location/location_3.jpg" alt="Location Image">
		<img src="/assets/img/location/location_5.jpg" alt="Location Image">
		<img src="/assets/img/location/location_7.jpg" alt="Location Image">
	</article>
</section>