<div class="not-done-yet">
	<p>We're not ready to take RSVPs yet! Please check back at a later time, or once you've received your invitation.</p>
</div>
<div class="disabled">
	<section class="main-section">
		<header>
			<h1>RSVP</h1>
			<p>You can easily RSVP to the wedding by filling out the form below.</p>
		</header>
		<article class="content">
			<form>
				<div class="form-group">
					<label for="guests">1. Your name and those joining you:</label>
					<textarea name="guests" id="guestInfo" cols="30" rows="10"></textarea>
				</div>
			</form>
		</article>
	</section>
</div>