<section class="main-section">
    <header>
        <h1>Our Story</h1>
        <p>Our Story &amp; Registry</p>
    </header>
    <article class="content text-heavy">
        <h3>...as told by Kara:</h3>
        <p>We first officially met in gym class at Tully High School in 2006. Although, we always refute the term “high school sweethearts” as we never actually dated in high school. In fact, communication ended temporarily after my high school graduation in 2007. We reconnected during the Winter of 2008 when Ryan was attending Alfred State and I was in the PT program at Nazareth College. Ryan offered to give me a ride home from college, which was suspect as my school was not on the way home for him (in fact, it would have close to doubled his driving time). I did not accept the ride, but I did accept a date.</p>
        <p>Soon after, Ryan ended up switching schools from Alfred to Onondaga Community College (OCC), which was closer to home, in the Spring of 2009. As our relationship began to “blossom”, Ryan again transitioned schools from OCC to Rochester Institute of Technology (RIT), in the same city as Nazareth! Three years later in 2013, we both graduated and were excited to begin our adult lives together. Initially we considered moving to San Francisco, however, we decided on Washington DC after Ryan received a job offer from Global Thinking in Alexandria, VA. We were given the opportunity to spend time with my Uncle Dennis, Aunt Collette and cousins Paul, Claire and Tricia. We met valuable new friends, became Capitals fans, and explored the capital of our country.</p>
        <p>One year, a job change to Catalyze for Ryan and four completed contracts for me later, we confirmed the decision to make the cross-country trek to move to Portland, OR. The journey was difficult (for me, anyway) but the city has been amazing from the weather to the people to the nature. During a visit back home for Thanksgiving, in the place where we experienced our first kiss, and shared the majority of our first memories, Ryan proposed! A few months after this significant step in our relationship, we made another when we bought a home in Northeast Portland, OR! Ryan and I could not be happier in the life we have built (and still building!) for ourselves and we are grateful every day for our wonderful family, friends and loved ones who are able to share this amazing time in our lives.</p>
    </article>
</section>
